<div class="content-wrapper" style="width: 600px; height: 1300px; left: 88px; top: 59px; background: #FFFFFF">
  <div class="header-content" style="height: 437px; background: linear-gradient(127.38deg, #1D51A2 52.95%, #57107C 86.08%, #57107C 92.52%);">
    <div class="header-background" style="height: 379px; width: 600px; background-image: url(<%= asset_path('invitation-mail-header-background.png') %>)">
      <div style="height: 53px"></div>
      <img style="display: block; top: 53px; margin-left: auto; margin-right: auto" src="<%= asset_path('invitation-mail-orion-title.png') %>"/>
      <div class="header-image-bottom" style="height: 204px; background-image: url(<%= asset_path('invitation-mail-header-image-bottom.png') %>)"></div>
      </div>
      <div class="email-body" style="height: 200px; margin-top: 200px; margin-left: 100px; margin-right: 100px; font-family: Arial; font-weight: 400; font-size: 14px; line-height: 20px">
        <p>
          Hi, <%= @user.username %>!<br>
        </p>

        <% if @campaign.campaign_type.to_sym == :pre_sales_media_plan %>
          <p>Thanks for submitting your campaign details for a pre-sales media plan. We'll circle back shortly with your
            detailed media plan. </p>
        <% elsif @campaign.campaign_type.to_sym == :self_service_auto_setup %>
          <p>Thanks for submitting your campaign details for self service auto set up. The ORION set up algorithm is
            querying the data and we'll notify you as soon as your campaign has been implemented. </p>
        <% else %>
          <p>Thanks for sending your IO Request to the Version2 strategy team. We’ll circle back shortly with your insertion
            order.</p>
        <% end %>

        Thanks,<br>
        The Version2 Team
      </div>
      <div class="footer-wrapper" style="margin-top: 50px; height: 120px">
        <div class="footer-background" style="height: 120px; background: linear-gradient(99.74deg, #57107C 13.42%, #57107C 30%, #1D51A2 123.17%)">
          <div style="height: 30px"></div>
          <img style="display: block; margin-left: auto; margin-right: auto" src="<%= asset_path('v2-email-footer-logo.png') %>">
        </div>
      </div>
    </div>
  </div>
</div>
