<div class="content-wrapper" style="width: 600px; height: 1300px; left: 88px; top: 59px; background: #FFFFFF">
  <div class="header-content" style="height: 440px; background: linear-gradient(127.38deg, #1D51A2 52.95%, #57107C 86.08%, #57107C 92.52%);">
    <div class="header-background" style="height: 379px; width: 600px; background-image: url(<%= asset_path('invitation-mail-header-background.png') %>)">
      <div style="height: 53px"></div>
      <img style="display: block; top: 53px; margin-left: auto; margin-right: auto" src="<%= asset_path('invitation-mail-orion-title.png') %>"/>
      <h1 style="text-align: center; color: #FFFFFF; font-family: Arial; font-style: normal; font-weight: 700; font-size: 47px;" >You're invited</h2>
      <div class="header-image-bottom" style="height: 204px; background-image: url(<%= asset_path('invitation-mail-header-image-bottom.png') %>)"></div>
      </div>
      <div class="title" style="margin-top: 100px; font-family: Arial; font-weight: 400; font-size: 29px; text-align: center; color: #333333">
        You’ve been invited to join Orion.
      </div>
      <div class="subtitle" style="margin-top: 30px; margin-left: 100px; margin-right: 100px; font-family: Arial; font-weight: 400; font-size: 16px; line-height: 20px; text-align: center; color: #58107C">
        A TOOL TO EXPLORE, MAP, CREATE, AND ACTIVATE AUDIENCES IN YOUR DSP OF CHOICE.
      </div>
      <div class="email-body" style="margin-top: 30px; margin-left: 100px; margin-right: 100px; font-family: Arial; font-weight: 700; font-size: 14px; line-height: 20px">
        <p>
          <strong class="purple" style="color: #7C3B94">Explore</strong><br>
          Discover audience segments that can be combined or individually targeted to grow your site traffic and brand
          awareness.<br>
        </p>
        <p>
          <strong class="purple" style="color: #7C3B94">Map</strong><br>
          Port ORION audience segments over to your ORION DSPs for heightened scope and increased reach.<br>
        </p>
        <p>
          <strong class="purple" style="color: #7C3B94">Create</strong><br>
          Build custom audiences off of your 1st party data, 3rd party data, and ORION data, through the largest free
          repository of consumer data.<br>
        </p>
        <p>
          <strong class="purple" style="color: #7C3B94">Activate</strong><br>
          Use ORION audience segments as a force multiplier for your brand or agency clients.<br>
        </p>
      </div>

      <a class="get-started-button" href="<%= accept_invitation_url(@resource, invitation_token: @token) %>" style="text-decoration: none; display: flex; flex-direction: row; justify-content: center; align-items: center; height: 50px; background: linear-gradient(99.74deg, #57107C 13.42%, #57107C 30%, #1D51A2 123.17%); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 8px; margin-top: 50px; margin-bottom: 80px; margin-left: 150px; margin-right: 150px;">
        <span class="button-text" style="text-align: center; color: #FFFFFF; font-family: Arial; font-size: 14px; font-weight: 400;">Get Started</span>
      </a>

      <div class="footer-wrapper" style="height: 120px">
        <div class="footer-background" style="height: 120px; background: linear-gradient(99.74deg, #57107C 13.42%, #57107C 30%, #1D51A2 123.17%)">
          <div style="height: 30px"></div>
          <img style="display: block; margin-left: auto; margin-right: auto" src="<%= asset_path('v2-email-footer-logo.png') %>">
        </div>
      </div>
    </div>
  </div>
</div>
